<h1>About yeomancodelab</h1>
<p>This is a little application that lets you add, edit, and remove items to a To-do list. I built it following <a href="http://yeoman.io/codelab/index.html" target="_blank">this tutorial</a>.</p>
<h2>Known Issues</h2>
<ul>
<li>Cannot handle duplicate items.</li>
    <li>Nav doesn't change highlighted link when on it</li>
</ul>
<h2>Desired Improvements</h2>
<small>(Other than fixing issues above)</small>
<ul>
<li>Persist data to database</li>
    <li>Write unit tests</li>
</ul>

